{%- set all_ports = [] %}
{%- set port_names = [] %}
{%- for direction, signals in ports.items() %}
  {%- for name, props in signals.items() %}
    {%- set dir = direction.rstrip('s') %}
    {%- set type = "wire" %}
    {%- set packed = props.packed | default('') %}
    {%- set unpacked = props.unpacked | default('') %}
    {%- set port_str = dir ~ " " ~ type ~ " " ~ packed ~ " " ~ name ~ " " ~ unpacked %}
    {%- set _ = all_ports.append(port_str) %}
    {%- set _ = port_names.append(name) %}
  {%- endfor %}
{%- endfor -%}
module {{ name }}{{ suffix }} {% if params -%}#(
  {%- for name, props in params.items() -%}
    {%- set type = props.type | default('') %}
    {%- set packed = props.packed | default('') %}
  parameter {{ type }} {{ packed }} {{ name }} = {{ props.value }}{% if not loop.last %},{% endif %}
  {%- endfor %}
){% endif %}(
{%- for port in all_ports %}
  {{ port }}{% if not loop.last %},{% endif %}
{%- endfor %}
);

  {{ name }} {% if params %}#(
{%- for name, props in params.items() %}
    .{{ name }} ({{ name }}){% if not loop.last %},{% endif %}
{%- endfor %}
  ){% endif %} {{ name }} (
{%- for port_name in port_names %}
    .{{ port_name }} ({{ port_name }}){% if not loop.last %},{% endif %}
{%- endfor %}
  );

endmodule
